scan_folder = "/media/usb0/DCIM/100MEDIA"
documents_folder = "/home/zmann/documents/university"
showtime = 5
size_last_folders = 10

dir /home/zmann/documents/university/elektrotechnik3/Kleingruppenuebung
dir /home/zmann/documents/university/robotik/vorlesungen
dir /home/zmann/documents/university/digitale_bildverarbeitung/vorlesungen
dir /home/zmann/documents/university/artificial_intelligence/Assignments
dir /home/zmann/documents/university/digitale_bildverarbeitung/uebungen
dir /home/zmann/documents/university/robotik/uebungen
dir /home/zmann/documents/university/artificial_intelligence/vorlesungen
